@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fbfbfb;
}

.showcase-background {
  background-image: url('./assets//img/bg-image-fern.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}